* {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cairo', sans-serif;
}

h1 {
  font-size: 8em;
  line-height: 0.8;
  color: #000000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width:900px)  {
  h1 {
    font-size: 2em;
    line-height: 0.8;
  }
}

@media (max-width:1500px) and (min-width:900px) {
  h1 {
    font-size: 5em;
    line-height: 0.8;
  }
}

p {
  margin: 10px 0 10px 0 !important;
}

.infos {
  margin-left: 5%;
  margin-right: 5%;
}

.headertext {
 color: #fff;
  position: absolute;
  z-index: 1;
  right: 10%;
  top: 50%;
}

@media (max-width:900px) and (min-width:700px) {
  .headertext {
    right: 10%;
    top: 60%;
  }
}

@media (max-width:1500px) and (min-width:900px) {
  .headertext {
    right: 10%;
    top: 60%;
  }
}

.bg-image {
  background-image: url('../images/produkte.jpg');
  background-repeat: no-repeat;
  background-size: 1920px;
  background-position-y: -200px;
  height: 760px;
  position: relative;
}


.rose-overlay {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 88px;
  left: 692px;
  height: 646px;
  width: 175px;
}

.rose-overlay:hover {
  background-image: url('../images/rose.png');
  cursor: pointer;

}

.rotwein-overlay {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 88px;
  left: 839px;
  height: 644px;
  width: 174px;
}

.rotwein-overlay:hover {
  background-image: url('../images/rotwein.png');
  cursor: pointer;
}

.weisswein-overlay {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 58px;
  left: 984px;
  height: 636px;
  width: 175px;p
}

.weisswein-overlay:hover {
  background-image: url('../images/weisswein.png');
  cursor: pointer;
}

@media (max-width:1200px) {
  .bg-image {
    background-position-x: -400px;
  }

  .rose-overlay {
    left: 292px;
  }

  .rotwein-overlay {
    left: 439px;
  }

  .weisswein-overlay {
    left: 584px;
  }
}


.produktinfo {
  margin-top: 5%;
}


@media (max-width:1200px) {

  .produktinfo {
    margin-top: 0;
  }
}

.btn-primary {
  background-color: #000 !important;
  border-color: #000;
}

.btn-primary:hover {
  background-color: #fff !important;
  border-color: #000;
  color: #000 !important;
}

.btn-secondary {
  background-color: #efbbbb !important;
  border-color: #efbbbb;
}

.btn-secondary:hover {
  background-color: #fff !important;
  border-color: #efbbbb;
  color: #efbbbb;
}

.btn-green {
  background-color: rgb(155, 205, 155) !important;
  border-color: rgb(155, 205, 155);
  color: white;
}

.btn-green:hover {
  background-color: #fff !important;
  border-color: rgb(155, 205, 155);
  color: rgb(155, 205, 155);
}


.navbar-brand {
  width: 40px;
}

.nav-link {
  color: #000 !important;
}

nav .active {
  background-color: rgba(255, 226, 226, 0.0) !important;
}

nav .fab {
  color: #000;
  font-size: 1.3em;
}

.hover:hover {
  background-color: #FFE2E2;
}


.background-nav {
  background-color: rgba(255, 226, 226, 0.7) !important;
}

nav a.active {
  color: #ffffff;
}

.carousel-caption {
  color: black !important;
}

.bg-mint {
  background: #cde6cd;
}

.rolemodel {
  color: rgb(155, 205, 155);
  text-align: center !important;
}

.details {
  margin: 40px !important;
}

.baumcounter {
  position: absolute;
  top: 30%;
  right: 15%;
  z-index: 0;
}

.baumcounter {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

.header-right {
  background-color: #fff;
  height: 100%;

}

hr {
  border: 2px solid #FFE2E2;
}

.kreis {
  position: absolute;
  width: 20%;
  left: 10%;
  z-index: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '';
  font-size: 55px;
  color: #fff;
  background-color: #5FA361;
  width: 1em;
  height: 1em;
  display: block;
  border-radius: 100% 0;
}



.carousel-control-prev-icon:after {
  content: '';
  font-size: 55px;
  color: #fff;
  background-color: #5D78CE;
  width: 1em;
  height: 1em;
  display: block;
  border-radius: 0 100%;
}

.voices-img {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.voices-block {
  text-align: center;
  margin-top: 10px;
}

.presse .active {
  background-color: #FFE2E2;
}

#presse .carousel-item {
  height: 300px;
  background-color: #FFE2E2;
}

#presse p {
  width: 50%;
    margin-left: 25%!important;
}



.carousel-caption {
  color: #000 !important;
  padding: none !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  position: relative;
  top: 30%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


#kontakt iframe {
  width: 100%;
  height: 100%;
}


@media (max-width:991px) {
  #produkte {
    display: none;
  }
}

@media (min-wi
  dth:991px) {
  #products {
    display: none;
  }
}
